//Media breakpoints
$media-breakpoint-small: 576px;
$media-breakpoint-medium: 768px;
$media-breakpoint-normal: 992px;
$media-breakpoint-large: 1200px;
$media-breakpoint-xl: 1600px;

//Colors
$theme-color-white: #FFFFFF;
$theme-color-alabaster: #F7F7F7;
$theme-color-merino: #F6EDE6;
$theme-color-pearl-bush: #E5DBD4;
$theme-color-black: #000000;
$theme-color-gallery: #EAEAEA;
$theme-color-silver: #c6c6c6;
$theme-color-deep-fir: #000300;
$theme-color-pippin: #FFE5E5;
$theme-color-persimmon: #FF5A5A;
$theme-color-botticelli: #DDE5EE;
$theme-color-emperor: #555555;
$theme-color-silver-chalice: #A2A2A2;
$theme-color-gull-gray: #9BA8B5;
$theme-color-amaranth: #e93143;
$theme-color-cornflower-blue: #66afe9;
$theme-color-malachite: #14ba57;