{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    <div class="finish-order-info">
        <h1 class="finish-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                <path d="M23.5 47C36.4787 47 47 36.4787 47 23.5C47 10.5213 36.4787 0 23.5 0C10.5213 0 0 10.5213 0 23.5C0 36.4787 10.5213 47 23.5 47Z"
                      fill="#39B54A"/>
                <path d="M19.718 33.5243L10.4648 24.3813L13.8062 20.9665L19.718 26.8047L33.1938 13.4758L36.5352 16.854L19.718 33.5243Z"
                      fill="white"/>
            </svg>
            {{ 'Bluesnap.paymentSuccess.paymentSuccess-text'|trans }}
        </h1>
        <h6 class="order-number">{{ 'Bluesnap.paymentSuccess.order-number'|trans }} </h6>
        <p class="order-confirmation"> {{ 'Bluesnap.paymentSuccess.order-confirmation'|trans }}</p>
    </div>
{% endblock %}
