{% block sw_order_detail_general %}
    <sw-card v-if="transactionFound">
        <div>
            <h2>Bluesnap Details</h2>

            <div v-if="isLoading">
                <sw-loader />
            </div>

            <div v-else>
                <p><strong>Bluesnap Transaction ID:</strong> {{ orderTransactionId }}</p>
            </div>
        </div>
    </sw-card>

    {% parent %}
{% endblock %}
